.additems {
	background-color: #A11F21;
	color: white;
	font-weight: bold;
	padding: 6px;
}

.cll {
	font-weight: bold;
	font-size:20px;
}

mat-form-field {
	font-weight: bold;
	font-size: 25px;
	margin-left: 10px;
	margin-top: 20px;
	width: 250px;
}

mat-checkbox {
	margin-left: 70px;
	margin-top: 20px;
	width: 250px;
}
mat-label{
	font-weight: bold;
	 font-size: 25px;
	 font-family: Robot;
   }

#head{
	font-size: 250px;
}

.btn {
	border-radius: 14px;
	width: 250px;
	height: 29px;
	padding-bottom: 29px;
}

#button {
	display: flex;
	justify-content: center;
	margin-top: 10px;
}
.edit{
	font-weight: bold;
}
.navbar {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	padding: 0.5rem 1rem;
	background: #A11F21;
	color: #f2f2f2;
}
  
  input[type=search] {
  background: white;
  padding: 9px 10px 9px 32px;
  width: 55px;
}
  input[type=search]:focus {
  width: 100px;
  background-color: #ccc;
}
  .left{
	font-size: 20px;
	margin-right: 15px;
}
  input{
	font-family: Robot;
	font-weight: bold;
}


fieldset{
	border: 2px solid darkgray !important;
}
legend{
	margin-left: 40px;
	color: #A11F21;
	
}

.mat-stepper-vertical {
	margin-top: 8px;
}
  
.mat-form-field {
	margin-top: 16px;
}

 button{
	color: #A11F21;
	font-weight: bold;
	font-size: 20px;
	margin-top: 20px;
}

  button:hover{
	background-color: rgb(177, 228, 248);
	color: black;
}
		
mat-error{
	font-size: 13px;
}
b{
	font-size: 12pt;
}
img{
	font-size:6pt;
}