.card-text {
	font-weight: bold;
}

.navbar {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	background: #A11F21;
	color: #F2F2F2;
	cursor: pointer;
}

.card {
	display: grid;
	display: flex;
	flex-direction: column;
}

.inr{
	font-weight: bold;
	margin-top: 4%;
	text-align: center;
	cursor: pointer;
	font-size: 20px;
	margin-right: 22%;
}

.cart {
	font-size: 30px;
	margin-right: 29%;
	float: left;
	flex-direction: column;
}

.right {
	margin-left: 2%;
	font-weight: bold;
	cursor: pointer;
	font-size: 20px;
	margin-top: 1%;

}
.row>* {
    flex-shrink: 0;
    width: 90%;
	display: flex;
	flex-direction: column;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-top: var(--bs-gutter-y);
}
#head1{
	font-family: Robot;font-size: 28px;font-weight: bold;
}
.search{
	 margin-right: 10px;;font-size: 30px;
}
.code{
	margin-right: 10px;;font-size: 30px;
}
.th{
	margin-right: 10px;;font-size: 30px;
}