<div>
  <nav class="navbar" style="display: flex;">
      <i class="las la-arrow-circle-left arrow" routerLink="/layout" 
      style="font-size: 30px;margin-right: 24px;font-weight: bold;float: left;"> 
      <a class="navbar-brand"style="color: white;font-weight:bold;margin-bottom: 19%;font-size: 28px;margin-left: 3%;">Client Information</a></i>
  </nav> 
  
  <div *ngFor=" let clientlist of clientlistdata">
      <div class="row justify-content-center" style="margin-top:10px;">
        <div class="col-sm-6">
          <div class="card shadow bg-white rounded">
            <div class="card-body" style="font-weight: bold;">
              <h5 class="card-title">
                <i class="las la-trash-alt" (click)="Passid(clientlist.id)"
                  data-toggle="modal" id="edit1" href="#ConfirmModal">
                </i> 
                <i class="las la-pen"  
                  id="edit1" routerLink="/addclient/{{clientlist.id}}">
                </i> 
              </h5>
              <span class="card-text">Client Full Name :</span><label id="fullname">{{clientlist.full_name}}</label><br/>
              <span class="card-text">City :</span><label id="city">{{clientlist.city}}</label><br/>
              <span class="card-text">Phone Number :</span><label id="phone">{{clientlist.phoneno}}</label><br/>
           </div>
        </div>
      </div>
    </div>
  </div>
  <div id="ConfirmModal" class="modal" *ngFor=" let clientlist of clientlistdata">
    <div class="modal-dialog modal-dialog-centered" >
      <div class="modal-content">
        <div class="modal-header flex-column" data-target=".bd-example-modal-sm">
         
          <h3 class="modal-title" style="display: flex;"><i class="las la-exclamation-triangle" id="dangericon"></i> Are you sure? </h3>
          <!-- <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button> -->
        </div>
        <div class="modal-body">
          <p>Do you really want to delete <strong id="productname">{{clientlist.full_name}}</strong> record? </p>
          <p>This process cannot be undone.</p>
        </div>
        <div class="modal-footer justify-content-center">
          <button type="button" class="btn btn-secondary" data-dismiss="modal"><b>Cancel</b></button>
          <button type="btn" class="btn btn-outline-danger"
            data-toggle="modal" data-target="#SuccessModalDelete" data-dismiss="modal"
            style="background-color: #A11F21;" (click)="deleteclient(getclientId_)"><b>Delete</b></button>
        </div>
      </div>
    </div>
  </div>
  <div #SuccessModalDelete id="SuccessModalDelete" class="modal fade">
    <div class="modal-dialog modal-dialog-centered" >
      <div class="modal-content">
        <div class="modal-body" >
          <div style="text-align:center;"><i class="fa fa-info-circle fa-5x center" id="productname" aria-hidden="true"></i></div>
          <p id="smsg" style="text-align:center;">ClientInfoirmation Details Deleted successfully</p>
        </div>
        <div class="modal-footer justify-content-center">
          <button type="button" class="btn btn-secondary" data-dismiss="modal"><b>Close</b></button>
        </div>
      </div>
    </div>
  </div>
  
  <a href="#" class="float" routerLink="/addclient">
    <i class="la la-plus my-float"></i>
  </a>
</div>