<div *ngIf="adminMode; else usermode">
  <!------------------Sidenav Start------------------------------------>
  <mat-sidenav-container fullscreen>
    <mat-sidenav mode="side" #sidenav closed position="start" style="background-color: white;">
      <mat-nav-list>
        <a mat-list-item class="profile">
          <i class="las la-user-tie Profile"></i> <label id="profile" (click)="triggerClick($event)">Profile</label></a>
        <hr style="color: black;">
        <a mat-list-item class="billing">
          <i class="las la-file-invoice"></i><label routerLink="/billingdetails">Billing</label>
        </a>
        <hr style="color: black;">
        <div class="dropdown1">
          <i class="las la-mobile-alt cogs"></i><a id="drp" class="dropbtn " (click)="blocklayout1()">Application</a>
          <ul id="app">
            <li> <a routerLink="/company"> <i class="las la-business-time"></i> Company </a>
            </li>
            <hr>
            <li> <a href="#"> <i class="las la-cog"></i> Setting </a></li>
            <hr>
            <li> <a href="/holiday"> <i class="las la-suitcase-rolling"></i> Holiday </a> </li>
          </ul>
        </div>
        <div class="dropdown">
          <i class="lab la-product-hunt cogs"></i><a id="drp" class="dropbtn " (click)="blocklayout2()">Products</a>
          <ul id="prod">
            <li> <a href="/group"> <i class="las la-users"></i> Group </a></li>
            <hr>
            <li>  <a [routerLink]="['/brand']" [queryParams]="{data:'B'}"> <i class="las la-trademark"></i> Brand </a></li>
            <hr>
            <li>  <a [routerLink]="['/unit']" [queryParams]="{data:'U'}"> <i class="las la-balance-scale"></i> Unit </a></li>
            <hr>
            <li> <a href="/hsn"> <i class="las la-percentage"></i> HSN Info </a> </li>
          </ul>
        </div>
        <div class="dropdown">
          <i class="las la-user-cog cogs"></i><a id="drp" class="dropbtn " (click)="blocklayout3()">Staff</a>
          <ul id="staff">
            <li> <a href="/staff"> <i class="las la-percentage"></i> Staff </a> </li>
            <hr>
            <li> <a href="/department"> <i class="las la-store"></i> Department </a></li>
            <hr>
            <li> <a href="/designation"> <i class="las la-map-pin"></i> Designation </a></li>
          </ul>
        </div>
        <div class="dropdown">
          <i class="las la-users cogs"></i><a id="drp" class="dropbtn " (click)="blocklayout4()">Client</a>
          <ul id="client">
            <li> <a href="/client"> <i class="las la-file-alt"></i>Client Info </a> </li>
            <hr>
            <li> <a href="/supplier"> <i class="las la-percentage"></i> Supplier</a> </li>
          </ul>
        </div>
      </mat-nav-list>
    </mat-sidenav>
    <!------------------Sidenav End------------------------------------>

    <!------------------Navbar start------------------------------------>
    <mat-sidenav-content>
      <mat-toolbar style="background-color:#A11F21;color:white">
        <button mat-icon-button (click)="sidenav.toggle()">
          <i class="las la-bars menu"></i>
        </button>
        <h4 id="head1">Nellai System </h4>
        <div class="spacer" style="flex:1 1 auto"></div>
        <i class="las la-user user" id="user" routerLink="home"></i>
        <i class="las la-home home" id="home" routerLink="home"></i>
        <i class="las la-print print" id="print" routerLink="/billingdetails"></i>
        <i class="las la-power-off power" id="power" (click)="RemoveToken_user()"></i>
      </mat-toolbar>
      <app-home></app-home>
    </mat-sidenav-content>
    <!----Navbar End-->
  </mat-sidenav-container>

</div>
<!------------------Editable User Mode------------------------------------>
<ng-template #usermode>
  <mat-sidenav-container fullscreen>
    <mat-sidenav mode="side" #sidenav closed position="start" style="background-color: white;">
      <mat-nav-list>
        <a mat-list-item class="profile">
          <i class="las la-user-tie Profile"></i> <label>Profile</label></a>
        <hr style="color: black;">
        <a mat-list-item class="billing">
          <i class="las la-file-invoice"></i><label routerLink="/billingdetails">Billing</label>
        </a>
        <hr style="color: black;">
      </mat-nav-list>
    </mat-sidenav>
    
    <!----Navbar start-->
    <mat-sidenav-content>
      <mat-toolbar style="background-color:#A11F21;color:white">
        <button mat-icon-button (click)="sidenav.toggle()">
          <i class="las la-bars menu"></i>
        </button>
        <h4 id="head1">Nellai System </h4>
        <div class="spacer" style="flex:1 1 auto"></div>
        <i class="las la-user user" id="user" routerLink="home"></i>
        <i class="las la-home home" id="user" routerLink="home"></i>
        <i class="las la-print print" id="print" routerLink="/billingdetails"></i>
        <i class="las la-power-off power" id="power" (click)="RemoveToken_user()"></i>
      </mat-toolbar>
      <!----Navbar End-->
      <app-home></app-home>
    </mat-sidenav-content>
  </mat-sidenav-container>
</ng-template>