<div>
    <nav class="navbar" style="display: flex;">
      <i class="las la-arrow-circle-left arrow" routerLink="/layout"style="font-size: 30px;margin-right: 24px;font-weight: bold;float: left;"> <a class="navbar-brand"
        style="color: white;font-weight:bold;margin-bottom: 19%;font-size: 28px;margin-left: 3%;">Group</a>
        </i>
      </nav> 

      <div let *ngFor="let grouplist of groupmasterlistdata let i=index">
        <div class="row justify-content-center" style="margin-top:10px;">
          <div class="col-sm-6">
            <div class="card shadow bg-white rounded">
              <div class="card-body" style="font-weight: bold;">
               <h5 class="card-title">
                  <i class="las la-trash-alt"
                    data-toggle="modal" id="edit1" href="#ConfirmModal"(click)="Passidfromdeletemodal(grouplist.id)"  >
                  </i> 
                  <i class="las la-pen" 
                    id="edit1" routerLink="/addgroup/{{grouplist.id}}">
                  </i> 
                </h5>
                <br/>
                <span class="align">Group Name:</span><label id="group_name">{{grouplist.group_name}}</label><br/>
                <span class="align">HSN / SAC Code:</span><label id="hsnsac_code">{{grouplist.hsnsac_code}}</label><br/>
                <span class="align">GST:</span><label id="GST">{{grouplist.HSN_GST}}</label><br/>
                <span class="align">CGST:</span><label id="CGST">{{grouplist.CGST}}</label><br/>
                <span class="align">Cess:</span><label id="Cess">{{grouplist.Cess}}</label><br/>
                <span class="align">SGST:</span><label id="SGST">{{grouplist.SGST}}</label><br/>
                <span class="align">IGST:</span><label id="IGST">{{grouplist.IGST}}</label>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div id="ConfirmModal" class="modal"*ngFor="let grouplist of groupmasterlistdata">
        <div class="modal-dialog modal-confirm">
          <div class="modal-content">
            <div class="modal-header flex-column" data-target=".bd-example-modal-sm">
              <i class="las la-exclamation-triangle" id="dangericon"></i>
              <h4 class="modal-title" style="margin-top:-0.1rem;"> Are you sure?</h4>
           </div>
            <div class="modal-body">
              <p>Do you really want to delete <strong id="productname">{{grouplist.group_name}}</strong> record? </p>
              <p>This process cannot be undone.</p>
            </div>
            <div class="modal-footer justify-content-center">
              <button type="button" class="btn btn-secondary"  data-dismiss="modal"><b>Cancel</b></button>
              <button type="btn" class="btn btn-outline-danger"
                data-toggle="modal" data-target="#SuccessModalDelete" data-dismiss="modal"
                style="background-color: #A11F21;"(click)="deletegroupmaster(getgroupmastersId)"><b>Delete</b></button>
            </div>
          </div>
        </div>
      </div>

      <div #SuccessModalDelete id="SuccessModalDelete" class="modal fade">
        <div class="modal-dialog modal-confirm">
          <div class="modal-content">
            <div class="modal-body">
              <i class="fa fa-info-circle fa-5x center" aria-hidden="true"></i>
              <p id="smsg">Group Details Deleted successfully</p>
            </div>
            <div class="modal-footer justify-content-center">
              <button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>

      <a href="#" class="float" routerLink="/addgroup">
        <i class="la la-plus my-float"></i>
      </a>
</div>