/* You can add global styles to this file, and also import other style files */
#dangericon{
    font-size:3rem;color:#A11F21;left:-1px;margin-left:0.1rem;margin-right:1rem;
}
#productname{
    color:#A11F21 ;
}