<nav class="navbar" style="display: flex;">
  <i class="las la-arrow-circle-left arrow" routerLink="/layout"> <a class="navbar-brand brand" >Outlet</a></i>
     <form class="form-inline" style="float: right;" [formGroup]="searchitem_" style="margin-right: 1%;">   
         <i class="las la-search" (click) ="searchName_()"  style="font-size: 20px;"></i> <input type="text" (keyup) ="list_()" placeholder="Search.." formControlName="search_name" name="search" style="border-radius: 15px;border-color: #A11F21;">
     </form>
 </nav>
 <div class="container">
   <!---First Card start-->
   <div *ngFor="let list of outletdata">
     <div class="row justify-content-center" style="margin-top:10px;">
       <div class="col-sm-6">
         <div class="card shadow bg-white rounded">
           <div class="card-body" style="font-weight: bold;">
 
             <h5 class="card-title">{{list.outlet_city}}<i class="las la-trash-alt" href="#ConfirmModal"
                 data-toggle="modal" id="edit1" (click)="Passidfromdeletemodal(list.id)"></i> <i class="las la-pen"
                 id="edit1" routerLink="/updateoutlet/{{list.id}}"></i> </h5>
             <p class="card-text">GSTN : <label id="gst1">{{list.outlet_gstin}}</label></p>
             <p class="card-text">Telephone : <label id="mobile1">{{list.outlet_telephone}}</label></p>
             <p class="card-text">Address : <label id="address1">{{list. outlet_address}}</label></p>
           </div>
         </div>
       </div>
     </div>
   </div>
   <!-- delete popup show for first time clicking a list delete button -->
   <div id="ConfirmModal" class="modal" *ngFor="let list of outletdata let i=index">
     <div class="modal-dialog modal-confirm">
       <div class="modal-content">
         <div class="modal-header flex-column" data-target=".bd-example-modal-sm">
           <i class="las la-exclamation-triangle" id="dangericon"></i>
           <h4 class="modal-title" style="margin-top:-0.1rem;"> Are you sure?</h4>
        </div>
         <div class="modal-body">
           <p>Do you really want to delete <strong>{{getOutletId_}}</strong> records? </p>
           <p>This process cannot be undone.</p>
         </div>
         <div class="modal-footer justify-content-center">
           <button type="button" class="btn btn-outline-warning" data-dismiss="modal">Cancel</button>
           <button type="btn" class="btn btn-outline-danger" (click)="deleteoutletlists(getOutletId_)"
             data-toggle="modal" data-target="#SuccessModalDelete" data-dismiss="modal"
             style="background-color: #A11F21;">Delete</button>
         </div>
       </div>
     </div>
   </div>
 
   <div #SuccessModalDelete id="SuccessModalDelete" class="modal fade">
     <div class="modal-dialog modal-confirm">
       <div class="modal-content">
         <div class="modal-body">
           <i class="fa fa-info-circle fa-5x center" aria-hidden="true"></i>
           <p id="smsg">Outlet Details Deleted successfully</p>
         </div>
         <div class="modal-footer justify-content-center">
           <button type="button" class="btn btn-success" data-dismiss="modal">Close</button>
         </div>
       </div>
     </div>
   </div>
   <!---First Card End-->
   <!---Plus icon start-->
   <a href="#" class="float" routerLink="/updateoutlet">
     <i class="la la-plus my-float"></i>
   </a>
   <!---Plus icon End-->
 </div>
 