<div>
    <div *ngIf="addMode">
        <nav class="navbar" style="display: flex;">
            <i class="las la-arrow-circle-left arrow" routerLink="/department"
            style="font-size: 30px;margin-right: 24px;font-weight: bold;float: left;"> 
            <a class="navbar-brand"style="color: white;font-weight:bold;margin-bottom: 19%;font-size: 28px;margin-left: 3%;">Add Department</a></i>
        </nav>
    </div>
    <div *ngIf="!addMode">
        <nav class="navbar" style="display: flex;">
            <i class="las la-arrow-circle-left arrow" routerLink="/department"
            style="font-size: 30px;margin-right: 24px;font-weight: bold;float: left;"> 
            <a class="navbar-brand"style="color: white;font-weight:bold;margin-bottom: 19%;font-size: 28px;margin-left: 3%;">Edit Department</a></i>
        </nav>
    </div>
    <div *ngIf="addMode; else editable" >
        <form  [formGroup]="fg_department" class="was-validated">
            <mat-form-field class="lengthinput">
                <mat-label>Department name</mat-label>
                <input matInput formControlName="name"(keypress)="keyPressAlpha($event)" required/>
            </mat-form-field><br/>
            <button type="button" type="button"class="btn btn-danger" style="font-weight:bold;font-family: Robot;" (click)="SaveDepartment()" [disabled]="fg_department.invalid">Save</button><br/>    
        </form>
    </div>
    <ng-template  #editable>
        <div>
            <form  [formGroup]="fg_department" class="was-validated">
                <mat-form-field class="lengthinput">
                    <mat-label>Department name</mat-label>
                    <input matInput formControlName="name" (keypress)="keyPressAlpha($event)" required/>
                </mat-form-field><br/>
                <button type="button" type="button"class="btn btn-danger" style="font-weight:bold;font-family: Robot;" (click)="UpdateDepartmentList()" [disabled]="fg_department.invalid">Update</button><br/>    
            </form>
        </div>
    </ng-template>
</div>